<div class="card" id="card-dialog">
    <form>

        <div class="card-header" id="header-dialog">
            <h2 class="modal-title" id="add-modal-label">{{ data.title }}</h2>
            <i class="tim-icons icon-simple-remove" (click)="close()"></i>
        </div>

        <div class="card-body" id="body-dialog">
            <div class="row top-row">
                <div class="column" style="width: 60%; height: fit-content;">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" [disabled]="disabled"
                            ngbDropdownToggle>{{ selectedIr }}</button>
                        <div ngbDropdownMenu>
                            <button *ngFor="let ir of idejnaResenja" ngbDropdownItem
                                (click)="changeSelectionIr(ir)">{{ ir.naziv }}</button>
                        </div>
                    </div>
                    <mat-form-field class="row">
                        <label id="first-row"> Naziv Projektanta </label>
                        <input class="form-control" disabled type="text" value="{{ nazivProjektanta }}" />
                    </mat-form-field>
                </div>
                <div id="section" class="column" style="width: 40%; height: fit-content;">
                    <mat-form-field class="row">
                        <label> Datum Izrade</label>
                        <input class="form-control" disabled type="text" value="{{ datumIzrade | date }}"
                            name="datum" />
                    </mat-form-field>
                </div>
            </div>
            <div id="section" class="column" style="margin-top: 10px;">
                <label class="section-label">Spisak površina</label>
                <div style="width: 100%;">
                    <mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="Oznaka">
                            <th mat-header-cell *matHeaderCellDef> Oznaka </th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" [disabled]="!element.isEditable" type="number"
                                    value="{{ element.oznaka }}" />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="VrstaPoda">
                            <th mat-header-cell *matHeaderCellDef> Vrsta Poda </th>
                            <td mat-cell *matCellDef="let element">
                                <input class="form-control" [disabled]="!element.isEditable" type="text"
                                    value="{{ element.vrstaPoda }}" />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="VrstaPovrsine">
                            <th mat-header-cell *matHeaderCellDef> Vrsta Površine </th>
                            <td mat-cell *matCellDef="let element">
                                <div ngbDropdown class="d-inline-block">
                                    <button *ngIf="element.vrstaPovrsine" class="btn btn-outline-primary"
                                        [disabled]="!element.isEditable"
                                        ngbDropdownToggle>{{ element.vrstaPovrsine.naziv }}</button>
                                    <button *ngIf="!element.vrstaPovrsine" class="btn btn-outline-primary"
                                        [disabled]="!element.isEditable" ngbDropdownToggle>Vrsta Površine</button>
                                    <div ngbDropdownMenu>
                                        <button *ngFor="let vp of vrstePovrsina" ngbDropdownItem
                                            (click)="changeSelectionVp(vp, element)">{{ vp.naziv }}</button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Prostorija">
                            <th mat-header-cell *matHeaderCellDef> Prostorija </th>
                            <td mat-cell *matCellDef="let element">
                                <div ngbDropdown class="d-inline-block">
                                    <button *ngIf="!element.prostorijaNaziv" class="btn btn-outline-primary"
                                        [disabled]="!element.isEditable || !element.vrstaPovrsine"
                                        ngbDropdownToggle>Prostorije</button>
                                    <button *ngIf="element.prostorijaNaziv" class="btn btn-outline-primary"
                                        [disabled]="!element.isEditable || !element.vrstaPovrsine"
                                        ngbDropdownToggle>{{ element.prostorijaNaziv }}</button>
                                    <div *ngIf="element.vrstaPovrsine" ngbDropdownMenu>
                                        <div *ngFor="let p of element.vrstaPovrsine.prostorije" ngbDropdownItem
                                            (click)="changeSelectionP(p, element)">
                                            {{ p.naziv }}</div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Izmeni">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <i matIcon class="tim-icons icon-pencil" id="edit-icon" matTooltip="Izmeni"
                                    (click)="edit(element)" *ngIf="!element.isEditable"></i>

                                <button class="btn btn-primary" (click)="saveElement(element)"
                                    *ngIf="element.isEditable">Potvrdi</button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Obrisi">
                            <th mat-header-cell *matHeaderCellDef>
                                <i class="tim-icons icon-simple-add" matTooltip="Dodaj novu površinu"
                                    (click)="add()"></i>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <i matIcon class="tim-icons icon-trash-simple" id="delete-icon" matTooltip="Obriši"
                                    (click)="delete(element)" *ngIf="!element.isEditable"></i>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </mat-table>
                </div>
            </div>
            <div class="row status-dokumenta">
                <label>Status Dokumenta</label>
                <input class="form-control" disabled type="text"
                    value="{{ pgd.statusDokumenta | statusDokumentaPipe }}" />
            </div>
        </div>

        <div class="card-footer" id="footer-dialog">
            <button type="submit" class="btn btn-primary" (click)="save()">Potvrdi</button>
            <button type="button" class="btn btn-default" (click)="close()">Poništi</button>
        </div>

    </form>
</div>