.card-header {
    display: inline-flex;
    justify-content: space-between;
}

.tim-icons {
    padding: 5px;
    font-size: 20px;
}

.table-responsive {
    overflow: hidden !important;
    justify-content: center;
    text-align: center;
}