<div class="card">
    <form>

        <div class="card-header">
            <h2 class="modal-title" id="add-modal-label">Izdavanje Lokacijske Dozvole</h2>
            <i class="tim-icons icon-simple-remove" (click)="close()"> </i>
        </div>

        <div class="card-body">
            <div class="row top-row">
                <div class="column" style="width: 60%;">
                    <div class="row">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" ngbDropdownToggle>{{ selectedIol }}</button>
                            <div ngbDropdownMenu>
                                <button *ngFor="let iol of informacijeOLokaciji" ngbDropdownItem
                                    (click)="changeSelectionIol(iol.id, iol.naziv)">{{ iol.naziv }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" ngbDropdownToggle>{{ selectedIr }}</button>
                            <div ngbDropdownMenu>
                                <button *ngFor="let ir of idejnaResenja" ngbDropdownItem
                                    (click)="changeSelectionIr(ir, ir.naziv)">{{ ir.naziv }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="section" class="column" style="width: 40%;">
                    <div class="row">
                        <label id="first-row"> Šifra Dozvole </label>
                        <input class="form-control" disabled placeholder="Šifra dozvole" type="text" value="" />
                    </div>
                    <div class="row">
                        <label> Datum </label>
                        <input class="form-control" disabled placeholder="Datum" type="text"
                            [(ngModel)]="lokacijskaDozvola.datumIzdavanja"
                            value="{{ lokacijskaDozvola.datumIzdavanja }}" name="datum" />
                    </div>
                </div>
            </div>
            <div id="section" class="column" style="margin-top: 10px;">
                <label class="section-label">Podaci o objektu</label>
                <div class="row">
                    <label> Naziv </label>
                    <input #objekat class="form-control" placeholder="Naziv" type="text"
                        [(ngModel)]="lokacijskaDozvola.nazivObjekta" required name="naziv" />
                    <mat-error *ngIf="!validate()">
                        Objekat ne postoji u izabranom Idejnom rešenju
                    </mat-error>
                </div>
                <div class="row">
                    <label> Broj Parcele </label>
                    <input class="form-control" placeholder="Broj parcele" type="text"
                        [(ngModel)]="lokacijskaDozvola.brojParcele" required name="brojParcele" />
                    <mat-error *ngIf="!validate()">
                        Objekat ne postoji u izabranom Idejnom rešenju
                    </mat-error>
                </div>
                <div class="row">
                    <label> Povrsina Parcele </label>
                    <input class="form-control" placeholder="Povrsina parcele" type="text"
                        [(ngModel)]="lokacijskaDozvola.povrsinaParcele" name="povrsinaParcele" />
                </div>
                <div class="row">
                    <label> Zona </label>
                    <input class="form-control" disabled type="text" [(ngModel)]="lokacijskaDozvola.zona"
                        value="lokacijskaDozvola.zona" name="zona" />
                </div>
                <div class="row">
                    <label> Namena Zemljišta </label>
                    <input class="form-control" disabled type="text" [(ngModel)]="lokacijskaDozvola.namenaZemljista"
                        value="lokacijskaDozvola.namenaZemljista" name="namenaZemljista" />
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="save()">Potvrdi</button>
            <button type="button" class="btn btn-default" (click)="cancel()">Poništi</button>
        </div>

    </form>
</div>